<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header><%- include('./partials/nav'); %></header>
    <div>
        <%  if(user==err) {%>
            <p>
                <%= user %>
            </p>
            <% }else{%>
                <h1>Profil <%= user.username%></h1>
                <div>
                    <%= user.username%></br>
                    <%= user.email%></br>
                    <%= user.age%></br>
                </div>
            <% }%>
    </div>
    <h1>Articles</h1>
    <div>
        <% if(Articles!=err && Articles.length > 0) {%>
            <div>
            <% Articles.forEach(function(article) {%>
                <a href="/article/<%=article.id%>" class="link">
                    <label for="">Titre : </label>
                    <%= article.title%></br>
                    <label for="">Description : </label>
                    <%= article.description%></br>
                </a>
                </br>
            <% });%>
            </div>
        <% } else if(Articles==err) {%>
            <p>
                <%= Articles %>
            </p>
        <% } else {%>
            <p>
                Aucun article
            </p>
        <% } %>
    </div>
    <h1>Créer un article : </h1>
    <form action="/users//user/createArticle" method="post">
        <div>
        <label for="">Titre : </label>
        <input type="text" name="title" id="title" placeholder="Titre">
        </div>
        <div>
            <label for="">description : </label>
            <input type="text" name="description" id="description" placeholder="description">
        </div>
        <div>
            <input type="hidden" name="author" value="<%=user.id%>">
        </div>
        <input type="submit" value="Valider">
    </form>
</body>
</html>